name: Terraform CI

on:
  pull_request:
    paths:
      - "**/*.tf"
      - ".github/workflows/terraform-ci.yml"

env:
  TF_IN_AUTOMATION: true
  TF_INPUT: false

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .  # root folder

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color
