name: Terraform Apply

on:
  push:
    branches:
      - main

env:
  TF_IN_AUTOMATION: true
  TF_INPUT: false
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

jobs:
  apply:
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        working-directory: .  # root folder

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Create dummy Lambda zip
        run: |
          mkdir -p lambdas/placeholder
          echo "def handler(event, context): return {}" > lambdas/placeholder/lambda_function.py
          cd lambdas/placeholder
          zip lambda_function.zip lambda_function.py

      - name: Terraform Apply
        run: terraform apply -auto-approve
